* {
    margin-bottom: 0px;
}

body {
    background-color: rgb(254, 244, 213);
}

.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.text {
    text-align: center;
}

.inspirationPage {
    display: flex;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

footer p a {
    color: black;
}

a {
    color: rgb(142, 191, 236);
}

.logo {
    float: right;
}

body img {
    border-width: 20px;
    border-style: solid;
    border-color: rgb(142, 191, 236);
    margin: 5px;
}

header a {
    text-decoration: none;
    margin: 42px;
    color: black;
}

header {
    text-align: center;
}

h1 {
    text-align: center;
    color: rgb(142, 191, 236);
}

h3 {
    text-align: center;
}

h2 {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.right {
    padding-left: 700px;
}

.left {
padding-right: 700px;
}