body {
    background-color: rgb(254, 244, 213);
}

body img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header a {
    text-decoration: none;
    margin: 42px;
}

header {
    text-align: center;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.right {
    text-align: right;
    padding-left: 600px;
}

.left {
padding-right: 600px;
}